* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  color: #101010;
  text-align: left;
  background-color: snow;
  margin-left: 1.25em;
  margin-top: 1.25em;
}

.cloud_dashboard_widget {
  text-decoration: none;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 58em;
  height: 30em;
}

.instance_area,
.worklog_area {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 27.125em;
  height: 27.125em;
  border: 1px solid green;
  margin: auto;
  border-radius: 1em;
}

.instance_area_title,
.worklog_area_title {
  width: 95%;
  font-weight: 700;
  padding: .5em;
  margin-left: 1.5em;
  margin-bottom: .125em;
  text-align: left;
}

.instances_fild,
.worklogs_fild {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 24em;
  height: auto;
  margin: 0 auto;
  overflow-y: auto;
}

.instances_fild {
  max-height: 21.5em;
}

.worklogs_fild {
  max-height: 23em;
}

.instance_fild {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 95%;
  height: auto;
  margin-left: 0;
  margin-bottom: .75em;
  padding: .25em .5em;
  border: 1px solid grey;
  border-radius: .75em;
font-size: .875em;
}

.instance_id {
  text-align: left;
  padding: .125em 0;
}

.instance_status,
.instance_action {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding: .125em 0;
  order: 1px solid grey;
}

.status_title,
.action_title {
/*  color: brown;*/
}

.status_btn,
.action_btn,
.action_btn_removed {
  width: 1.5em;
  height: 1.5em;
  padding: 0 .25em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}


.action_btn:hover,
.action_btn_removed:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.action_btn:active,
.action_btn_removed:active {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.24), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}



.status_btn {
  background-image: url("../img/circle_green.svg");
  background-image: url("../img/circle_red.svg");
}

.status_name {
  padding-left: .25em;
}

.action_btn {
  background-image: url("../img/pause.svg");
  background-image: url("../img/play.svg");
}

.action_btn_removed {
  background-image: url("../img/cross.svg");
}

#instance_add {
  cursor: pointer;
}
